
h1{
    font-size: 80px;
    text-align: center;
    color: rgb(71, 71, 245);
    margin-block: 20px;
    text-shadow: #2B2A1B 1px 0px 5px;

}
#identity{
    display: flex;
    
}
.sign_up{
    margin: auto;
    justify-content: center;
    width: 450px;
    background-color: #f0f2f5;
    border-radius: 10px;
    padding: 12px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

}
label{
    padding-left: 10px;
    
}
h3{
    text-align: center;
    margin-top: 10px;
}
p{
    text-align: center;
}
.btn{
    background-color: rgb(0, 177, 0);
    border: none;
    padding-block: 10px;
    margin-bottom: 10px;
    color: #FFFFFF;
    font-size: 20px;
    border-radius: 10px;
}